<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Абонементы - GYM</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body>
<div th:insert="blocks/nav :: nav"></div>
<section class="text-center bg-light testimonials">
    <div class="container">
        <h2 class="mb-5">Абонементы</h2>
        <div th:if="${role == 'MANAGER'}" class="row" style="margin: 10px -12px;">
            <div class="col-lg-4 col-xl-12"><a class="btn btn-primary" role="button" href="/subs/add">Добавить
                абонемент</a>
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"></div>
            </div>
        </div>
        <div class="row">
            <div th:each="sub : ${subs}" class="col-xl-4" style="margin-bottom: 10px;">
                <img th:src="'/img/' + ${sub.file}" style="border-radius: 30px;padding: 5px;" width="100%">
                <h3 th:text="${sub.name}"></h3>
                <p class="text-start" style="font-size: 20px;margin-bottom: 0;">Цена: <span th:text="${sub.price}"></span></p>
                <p class="text-start" style="font-size: 20px;margin-bottom: 0;">Срок действия: <span th:text="${sub.term}"></span> месяцев</p>
                <p class="text-start" style="font-size: 20px;margin-bottom: 0;">Время посещения с <span th:text="${sub.start_by}"></span> до <span th:text="${sub.before}"></span></p>
                <p class="text-start" style="font-size: 20px;margin-bottom: 0;">Приостановка абонемента: <span th:text="${sub.pause}"></span> дней</p>
                <p th:if="${sub.description.length() > 0}" class="text-start" style="font-size: 20px;margin-bottom: 0;">Описание: <span th:text="${sub.description}"></span></p>
                <a th:if="${role == 'CLIENT' and !user.inMySubs(sub.id)}" class="btn btn-primary" role="button" th:href="'/subs/buy/' + ${sub.id}" style="margin-right: 10px;margin-top: 5px;">Купить</a>
                <a th:if="${role == 'MANAGER'}" class="btn btn-primary" role="button" th:href="'/subs/edit/' + ${sub.id}" style="margin-right: 10px;margin-top: 5px;">Редактировать</a>
                <a th:if="${role == 'MANAGER'}" class="btn btn-danger" role="button" th:href="'/subs/delete/' + ${sub.id}" style="margin-top: 5px;">Удалить</a>
            </div>
        </div>
    </div>
</section>
<footer th:insert="blocks/footer :: footer" class="bg-light footer"></footer>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bs-init.js"></script>
</body>

</html>