<nav th:fragment="nav" class="navbar navbar-light navbar-expand bg-light navigation-clean">
    <div class="container">
        <a class="navbar-brand" href="/" style="font-size: 30px;">GYM</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"></button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav me-auto" style="font-size: 24px;">
                <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/statics">Статистика</a></li>
                <li class="nav-item"><a class="nav-link" href="/subs">Абонементы</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/users">Пользователи</a></li>
                <li th:if="${role == 'CLIENT'}" class="nav-item"><a class="nav-link" href="/subs/my">Мои абонементы</a></li>
                <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/login">Вход</a></li>
            </ul>
            <form th:if="${role != 'NOT'}" action="/logout" method="post">
                <button class="btn btn-light" type="submit" style="font-size: 24px;">Выход</button>
            </form>
        </div>
    </div>
</nav>
